/* variables ------------------------------- */
:root {
    --title-color: #ff8a8a;
    font-size: 25px;
}


/* font ------------------------------------ */
@font-face {
    font-family: 'VGA8';
    src: url('fonts/vga8.ttf') format('truetype');
}


/* body stuff ------------------------------ */

body {
    background-color: #000;
    background-image: url('img/stars.gif');
    color: #fee;
    line-height: 1.2;
    font-family: VGA8;
}


/* text sections --------------------------- */

.text {
    width: 60%;
    margin: auto;
}

.text-title {
    color: var(--title-color);

    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 0 #440000;

    margin-bottom: 1.5rem;
}

.text-subtitle {
    color: var(--title-color);
    
    font-size: 1rem;
    text-align: left;

    margin-bottom: 0.75rem;
}

.text-content {
    font-size: 1rem;
    text-align: justify;

    margin-bottom: 1.5rem;
}

.text-link:link,
.text-link:visited,
.text-link:hover,
.text-link:active,
.text-link:focus {
    color: var(--title-color);
    
    font-size: 1rem;
    text-align: left;

    margin-bottom: 1.5rem;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.text-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1.5rem;
}


/* nav bar --------------------------------- */
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 30px;
}
