/* variables ------------------------------- */
:root {
    --title-color: #ff9f9f;
}


/* body stuff ------------------------------ */
body {
    background-color: #000;
    background-image: url('img/stars.gif');
    color: #fee;
}


/* text sections --------------------------- */
.text {
    width: 50%;
    margin: auto;
}

.text-title {
    color: var(--title-color);

    font-family: serif;
    font-size: 30px;
    text-align: center;

    margin-bottom: 40px;
}

.text-subtitle {
    color: var(--title-color);
    
    font-family: serif;
    font-size: 20px;
    text-align: left;

    margin-bottom: 15px;
}

.text-content {
    font-family: serif;
    font-size: 20px;
    text-align: justify;

    margin-bottom: 40px;
}

.text-link:link,
.text-link:visited,
.text-link:hover,
.text-link:active,
.text-link:focus {
    color: var(--title-color);
    
    font-family: serif;
    font-size: 20px;
    text-align: left;

    margin-bottom: 15px;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}


/* nav bar --------------------------------- */
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 30px;
}
